.white-box-shadow{
  box-shadow: 0 3px 10px 0 rgba(36, 37, 38, .05); 
  -webkit-box-shadow: 0 3px 10px 0 rgba(36, 37, 38, .05)    
}
.heavy-box-shadow{
  box-shadow: 0 6px 15px 0 rgba(36, 37, 38, .08);
  -webkit-box-shadow:  0 6px 15px 0 rgba(36, 37, 38, .08)  
}

.badge {
  width: 20px;  
  height: 20px;  
  position: absolute;
  top: -10px;
  right: -8px
}

.green_to_yellow{
  background-image: linear-gradient(to right,#116399,  #07b4b4, #f6e05e);  
}

.brand_yellow{
  background-color: #ffe40f
}


.division{
  border-top: 1px solid #262626
}


/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  background-color: white;
}

.StripeElement--focus {
  box-shadow: none;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}