
/***  main navigation bar  ***/

.hamburger-nav {
    width: 40px;
    height: 40px;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .hamburger-nav span {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #b3b3b3;
    border-radius: 1px;
    opacity: 1;
    right: 0;
    margin-left: auto;
    transition: .25s ease-in-out;
  }
  .hamburger-nav:hover > span{
    background-color: #999999    
  }
  .hamburger-nav span:first-child {
    top: 0;
    width: 54%;
  }
  .hamburger-nav span:nth-child(2) {
    top: 15px;
    width: 80%;
  }
  .hamburger-nav span:nth-child(3) {
    top: 31px;
    width: 100%
  }


/***  The side navigation menu  ***/

.sidenav {
    width: 0;
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    background: linear-gradient(rgb(45, 85, 151), rgb(23, 57, 147))
  }
  .sidenav a {
    transition: 0.3s;
  }