.top-left{
  position: absolute;
  top: -14px;
  left: -6px;
}
.top-right-higher{
  position: absolute;
  top: -38px;
  right: -6px;  
}

.top-right{
  position: absolute;
  top: -14px;
  right: -6px;  
}
.bottom-right{
  position: absolute;
  bottom: -30px;
  right: -100px;  
}

.top-right-last{
  position: absolute;
  top: -30px;
  right: -40px;  
}
.middle-div{
  position: absolute;
  right: -6px;
}